/* Universal */

html {
  font-size: 16px;
  color: darkgrey;
}

body {
  margin: 0 auto;
  padding: 0rem 3rem 1rem 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
}

.Text--bold-underline {
  z-index:1;
  position:relative;
}

.Text--bold-underline:before {
  content:"";
  z-index:-1;
  display:inline-block;
  width:calc(100% + 6px);
  height:6px;background-color:#ffda68;
  position:absolute;
  bottom:1px;left:-3px;
  border-radius:6.5px
}

@media only screen and (max-width:1024px) {
  body {
    padding: 0rem 1rem 1rem 1rem;
  }
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

h1, h2, .h2_classic {
  font-family: 'Playfair Display', serif;
}

h1 {
  /* font-weight: bold; */
  color: #4a4a4a;
  line-height: 80px;
  font-size: 3.5rem;
}

@media only screen and (max-width:1024px) {
  h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width:480px) {
  h1 {
    font-size: 2.5rem;
    line-height: 50px;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  }

@media only screen and (max-width:480px) {
  h2 {
    font-size: 1.8rem;
  }
}

.h2_classic {
  margin-left: 2rem;
  font-size: 2.6rem;
}

@media only screen and (max-width:768px) {
  .h2_classic {
    margin-left: 0.5rem;
  }
}

h3 {
  font-size: 1.3rem;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
  line-height: 1.8rem;
}

@media only screen and (max-width:1024px) {
  h3 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width:480px) {
  h3 {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}

p {
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.5rem;
}

.legend {
  font-size: 1.2rem;
  text-align: center;
}

.line {
  width: 50%;
  border-top: solid 1px #d8d8d8;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width:1024px) {
  .line {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width:480px) {
  .line {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}

.button {
  border-radius: 0.2rem;
  padding: 0.7rem;
  color: #000;
  border: 1px solid #000;
}


@media only screen and (max-width:1024px) {
  .button {
    background-color: #6F99CC;
    color: #fff;
    border: 1px solid #6F99CC;
    /* margin-right: 1rem; */
  }
}

@media only screen and (min-width:1024px) {
  .button {
    transition-duration: 200ms;
  }
  .button:hover {
    background-color: #000;
    color:#fff;
    border: 1px solid #000;
  }
}

@media only screen and (max-width:1024px) {
  .button {
    transition-duration: 200ms;
  }
  .button:hover {
    background-color: #fff;
    color:#000;
    border: 1px solid #000;
  }
}

.CTA {
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {

  .CTA {
    text-align: center;
  }
}

.mobile_only {
  display: none;
}

@media only screen and (max-width:768px) {

  .CTA {
    margin-top: 4rem;

  }

  .mobile_only {
    display: block;
  }
}

@media only screen and (max-width:760px) {
  .desktop_tablet_only {
    display: none;
  }
}


/* Header */

header {
  z-index: 1;
  position: relative;
  top: 3rem;
  /* font-family: 'Avenir', sans-serif; */
  font-weight: 200;
}

#top_nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}

#top_nav a {
  color: white;
}

.logo {
  font-size: 1.4rem;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  padding-left: 2rem;
}

.logo a {
  color: white;
}

@media only screen and (min-width:728px) {
  #Logo_Phone {
    display: none;
  }
}

@media only screen and (max-width:1024px) {
  #top_nav {
    margin-top: 0;
  }

  .logo {
    padding-left: 1rem;
  }
}

@media only screen and (max-width:728px) {
  #top_nav {
    display: block;
  }

  .link_right {
    display: none;
  }

  .logo a {
    display: none;
  }

  #Logo_Phone {
    display: block;
    text-align: center;
    color: white;
  }
}

/* Scrolling Nav */

#nav_bar {
  border: 0;
	background-color: rgba(28,21,19,.95);
	border-radius: 0px;
	margin-bottom: 0;
  height: 40px;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.4s;
  animation-name: fade;
  animation-duration: 0.4s;
  -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes fade {
  from {opacity: 0;}
  to {opacity: 0.95;}
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 0.95;}
}

@media only screen and (max-width:768px) {
  #nav_bar {
    display: none;
  }
}

.nav_links {
    margin: 0;
    display: flex;
    justify-content: center;
    padding-inline-start: 0;
}

.nav_links li {
	display: inline-block;
  margin-top: 0.7rem;
}

.nav_links li a {
	padding: 0 2rem;
	color: #ffffff;
	text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
  font-style: normal;
  transition-duration: 200ms;
}

.nav_links li a:hover {
	color: #a30003;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  opacity: 0.95;
}

.navbar-none {
  display: none;
}


/*Content*/

.content {
  position: relative;
}

/* Jumbotron */

#jumbotron {
  background-image: url('../images/background-image.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* parallax effect */
  /* background-attachment: fixed; */
  min-height: 600px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:inset 0 0 0 2000px rgba(216,216,216,0.1);
}

.title h1 {
  color: white;
  text-align: center;
}

.top_disponibilites {
  margin-right: 2rem;
}

@media only screen and (max-width:1024px) {
  .top_disponibilites {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 728px) {
    #jumbotron {
      min-height: 300px;
    }

    .title h1 {
      display: none;
    }
}

/* Sub-Jumbotron */

@media only screen and (min-width: 768px) {
  .title_mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .title_mobile {
    text-align: center;
    margin: auto;
  }

  .title_mobile h1 {
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 0;
    line-height: 2rem;
  }
}

.subtitle {
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 3rem 0 3rem 0;
}

@media only screen and (max-width: 768px) {
  .subtitle {
    width: 80%;
    padding: 1rem 0 1rem 0;
  }

  .subtitle h3 {
    font-size: 1.1rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    line-height: 1.5rem;
  }
}



.pictogrammes {
  display: flex;
  justify-content: space-around;
  margin-left: 6rem;
  margin-right: 6rem;
  /* box-shadow:0 3px 20px 0 rgba(0,0,0,.1);
  border-radius: 0.2rem;
  padding: 2rem; */
}

.picto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pictogrammes img {
  width: 4rem;
  height: 4rem;
  /* margin: -0.5rem; */
}

.numbers {
  font-size: 1.6rem;
  margin: 0.8rem;
}

@media only screen and (max-width: 1024px) {
  .pictogrammes {
    margin-left: 3rem;
    margin-right: 3rem;
    flex-wrap: wrap;
  }

  .picto {
    margin: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .pictogrammes {
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;
  }

  .picto {
    /* margin: 2rem; */
  }

  .pictogrammes img {
    width: 3.5rem;
    height: 3.5rem;
  }

  .numbers {
    font-size: 1.4rem;
    margin: 0.5rem;
  }
}

/* Gallerie */

.gallerie {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  /* margin-right: 2rem; */
}

.article {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

.img_container {
  max-width: 100%;
}

.img_container img {
  width: 100%;
  height: auto;
  box-shadow: 0 3px 20px 0 rgba(0,0,0,.2);
  border-radius: 0.2rem;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25), 0 8px 30px 0 rgba(0, 0, 0, 0.24);
}

.cursor {
  cursor: pointer;
}

.article p {
  margin-right: 1rem;
}

.voir {
  margin-left: 2rem;
}

@media only screen and (max-width: 768px) {
  .gallerie {
    text-align: center;
    flex-wrap: wrap;
    margin-left: 0.5rem;
    margin-right: -1rem;
  }

  .gallerie .img_container {
    padding: 0.5rem;
  }

  .article p {
    display: none;
  }

  .voir {
    margin-left: 0rem;
  }
}

/* Localisation */

.flex {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}

.localisation_details {
  width: 55%;
  display: inline-block;
}

#google_map {
    width: 40%;
    height: 430px;
    display: inline-block;
    margin-top: 1rem;
    box-shadow:0 3px 20px 0 rgba(0,0,0,.1);
    border-radius: 0.2rem;
}

@media only screen and (max-width: 768px) {
  .localisation_details {
    width: 100%;
  }

  #google_map {
      display: none;
  }
}

/* Appréciations */

.note {
  font-style: italic;
  margin-left: 2rem;
  margin-top: -1rem;
  margin-bottom: 2rem;

}

.quotes {
  display: flex;
  justify-content: space-between;
  /* margin: 0rem 2rem 0rem 2rem; */
}

.quote {
  /* border: 1px solid #6F99CC; */
  margin: 0rem 2rem 0rem 2rem;
  box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
  border-radius: 0.2rem;
  padding: 2rem;
}

.abstract {
  font-family: 'Playfair Display', serif;
  /* font-style: italic; */
  font-size: 1.6rem;
  padding: 1rem 0 1rem 0;
  line-height: 2rem;
}

.author {
  padding: 1rem 0 1rem 0;
  font-style: italic;
  font-size: 1.1rem;
}

.invisible {
  border: 0px;
}

/* Reservation */

.reservation {
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  background-image: url('../images/background-image-bottom.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* parallax effect */
  /* background-attachment: fixed; */
  min-height: 400px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow:inset 0 0 0 2000px rgba(216,216,216,0.1);
}

@media only screen and (max-width:768px) {
  .reservation {
    min-height: 300px;
  }
}

.h2_bottom {
  color: white;
  margin-top: 10rem;
}

@media only screen and (max-width:768px) {
  .h2_bottom {
    display: none;
  }
}

.bottom_disponibilites {
  border: 1px solid #fff;
  color: #fff;
  margin-left: 2rem;
  transition-duration: 200ms;
}

.bottom_disponibilites:hover {
  background-color: #fff;
  color:#000;
}

/* Gallery */

.link_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 6rem;
}

.logo_container {
  max-width: 100%;
}

.logo_container img {
  width: 80%;
  height: auto;
}

.link_left p {
  color: black;
}

.gallerie_page {
  margin-right: -0.1rem;
}

.images {
  position: relative;
  top: 60px;
}

.row {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.left {
  width: 50%;
  margin-right: 1rem;
}

.right {
  width: 50%;
  margin-left: 1rem;
}

/* Media only */

@media only screen and (max-width:1024px) {
  .images {
    position: relative;
    top: 100px;
  }

  .row {
    display: inline-block;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .left {
    width: 100%;
    margin: auto;
    padding-bottom: 1rem;
  }
  .right {
    width: 100%;
    margin: auto;
    padding-bottom: 1rem;
  }
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  height: 65px;
  z-index: 1;
  /* background-color: white; */
  width: 100%;
  /* border-top: solid 1px #d8d8d8; */
}

footer .logo {
  margin-left: -2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width:1024px) {
  footer .logo {
    margin-left: -1rem;
  }
}
